.bg-light {
    background: #fff;
}

.bg-light-silvergrey {
    background-color: #d8d7d6;
}

.bg-silvergrey {
    background-color: #a6a6a6;
}

.bg-dark-silvergrey {
    background-color: #808080;
}

.bg-light-grey {
    background-color: #5c5c5c;
}

.bg-grey {
    background-color: #3d3d3d;
}

.bg-dark-grey {
    background-color: #1f1f1f;
}

.bg-dark {
    background-color: #000;
}

.bg-light-blue {
    background-color: #0084da;
}

.bg-blue {
    background-color: #193486;
}

.bg-dark-blue {
    background-color: #121258;
}

.bg-light-red {
    background-color: #fa365c;
}

.bg-red {
    background-color: #bb0000;
}

.bg-dark-red {
    background-color: #880000;
}

.bg-orange {
    background-color: #fc9537;
}

.bg-yellow {
    background-color: #feca42;
}

.bg-light-specialblue {
    background-color: #97cced;
}

.bg-ultralight-specialblue {
    background-color: #9fdbd1;
}

.text-light {
    color: #fff;
}

.text-light-silvergrey {
    color: #d8d7d6;
}

.text-silvergrey {
    color: #a6a6a6;
}

.text-dark-silvergrey {
    color: #808080;
}

.text-light-grey {
    color: #5c5c5c;
}

.text-grey {
    color: #3d3d3d;
}

.text-dark-grey {
    color: #1f1f1f;
}

.text-dark {
    color: #000;
}

.text-light-blue {
    color: #0084da;
}

.text-blue {
    color: #193486;
}

.text-dark-blue {
    color: #121258;
}

.text-light-red {
    color: #fa365c;
}

.text-red {
    color: #bb0000;
}

.text-dark-red {
    color: #880000;
}

.text-orange {
    color: #fc9537;
}

.text-yellow {
    color: #feca42;
}

.text-light-specialblue {
    color: #97cced;
}

.text-ultralight-specialblue {
    color: #9fdbd1;
}